body {
  font-family: Sans-serif;
  font-size: 11px;
  background: #e5e2e0;
}

.slice {
  cursor: pointer;
}

.slice .main-arc {
  stroke: #e5e2e0;
  stroke-width: 1px;
}

.slice .hidden-arc {
  fill: none;
}

.slice text {
  pointer-events: none;
  text-anchor: middle;
}
